// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'banner';

$background: darkgray;

body {
  background-color: $background;
}


a {
  font-weight: bold;
  color: grey;

  &:hover {
    color: black;
  }
}
